
@import "tailwindcss";

@keyframes blink {
    0%, 50% { opacity: 1; }
    50.01%, 100% { opacity: 0; }
  }
  
  .animate-blink {
    animation: blink 0.8s infinite;
  }
  
  @keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1.2s ease-out forwards;
  }
  

.priority-1 { content-visibility: auto; }
.priority-2 { content-visibility: auto; contain-intrinsic-size: auto 500px; }
.priority-3 { content-visibility: auto; contain-intrinsic-size: auto 300px; }

.slider-container {
  transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000px;
}

img {
  content-visibility: auto;
}